<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <style>
        .option.selected {
            background-color: #4CAF50; /* Default background color when selected */
        }
        .option {
            cursor: pointer; /* Add pointer cursor to indicate clickable */
            transition: background-color 0.3s ease; /* Smooth transition effect */
        }
        .option:hover {
            background-color: #45a049; /* Change background color on hover */
        }
    </style>
    
    <title>Quiz</title>
</head>
<body>
    <header>
        <h1>Quiz</h1>
    </header>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    <main>
        <div class="question">
            <p>{{ current_question['Question'] }}</p>
            <form method="post" action="">
                <input type="hidden" name="question_index" value="{{ current_question_index }}">
                <input type="hidden" name="selected_option" id="selected_option">
                <div class="options">
                    <div class="option {% if selected_option == 'Option1' %}selected{% endif %}" data-value="Option 1">{{ current_question['Option1'] }}</div>
                    <div class="option {% if selected_option == 'Option2' %}selected{% endif %}" data-value="Option 2">{{ current_question['Option2'] }}</div>
                    <div class="option {% if selected_option == 'Option3' %}selected{% endif %}" data-value="Option 3">{{ current_question['Option3'] }}</div>
                    <div class="option {% if selected_option == 'Option4' %}selected{% endif %}" data-value="Option 4">{{ current_question['Option4'] }}</div>
                </div>
                
            </form> 
          
        </div>
        <div class="quiz-buttons">
            {% if prev_question %}
                <button class="arrow-button" onclick="window.location='/quiz/{{ module_number }}/{{ prev_question }}'">&#8592; Previous</button>
            {% endif %}
            {% if next_question %}
                <button class="arrow-button" onclick="window.location='/quiz/{{ module_number }}/{{ next_question }}'">Next &#8594;</button>
            {% else %}
                <button class="arrow-button" onclick="window.location='/results'">Results</button>
            {% endif %}
        </div>
    </main>
    <footer>
        &copy; 2024 Your CipherCraft | All rights reserved
    </footer>

    <style>
        .option.selected {
            background-color: #4CAF50; 
        }
    </style>
    

    <script>
        document.querySelectorAll('.option').forEach(option => {
            option.addEventListener('click', function() {
                // Remove 'selected' class from all options
                document.querySelectorAll('.option').forEach(opt => {
                    opt.classList.remove('selected');
                });
    
                // Add 'selected' class to the clicked option
                this.classList.add('selected');
    
                // Set the selected option value in the hidden input field
                document.getElementById('selected_option').value = this.getAttribute('data-value');
    
                // Submit the form
                document.querySelector('form').submit();
            });
        });

    </script>
    
    
    
</body>
</html>
